.layout-blog {
  position: relative;
  .sidebar {
    .inner {
      padding: 20px 10px 10px;
    }
  }
}

.primary-menu {
  list-style: none;
  border-top: 1px solid #777;
  padding-left: 0px;

  .item-menu-collapse {
    border-top: 1px solid #777 !important;
    &:after {
      content: '\F077';
      font-family: FontAwesome;
      position: absolute;
      right: 12px;
    }
  }
  .collapsed {
    &:after {
      content: '\F078';
      font-family: FontAwesome;
      position: absolute;
      right: 12px;
    }
  }
  .item-menu-card {
    padding: 5px 5px !important;
  }
  .item-menu {
    text-align: left;
    border: none;
    border-bottom: 1px solid #E1E0DF;
    border-radius: unset;
    position: relative;
    padding: 9px 5px;
    line-height: 1;
    font-size: 1.2em;
    cursor: pointer;
    font-family: avo_bold,avo,arial,sans-serif;
    color: #777;

    .card-body {
      padding: 0px;
      color: #777;
    }

    a {
      color: #777;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      color: #f47631;
      background: #fbceb6;
      // padding-left: 10px;
    }
  }
}

@media (max-width: 991px) {
  .side-menu {
    left: -292px;
  }
  .side-menu.side-menu-show {
    left: 0;
  }
}
