.item-content {
  padding: 1rem 1rem;
  border: 1px solid #eceeef;

  .content {
    width: calc(100% - 160px);
    height: 100px;
    overflow-y: hidden;

    .title-content {
      font-family: "OpenSans-Bold", sans-serif;
      color: #555;
      text-transform: uppercase;
      line-height: 22px;
      text-align: justify;

      &:hover {
        color: #e54e53;
        cursor: pointer;
      }
    }
    .content-page {
      text-align: left;
    }
  }
  .image-content {
    width: 150px;
    height: 100px;

    img {
      width: 100px;
      height: 100px;
    }
    .no-image {
      border: 1px solid #eceeef;
    }
  }
}
