<div class="mt-3">
  <PageHeader :title="'Admin User'" />

  <div class="row search-user">
    <input class="col-lg-6 mb-2" type="text" v-model="conditionsSearch.name" :placeholder="$t('ADD_USER.SEARCH.NAME')" @keydown.enter="searchUser" />
    <div class="col-lg-4 mb-2">
      <button type="button" class="btn btn-primary float-left" @click="searchUser">{{ $t('BTN.SEARCH') }}</button>
    </div>
  </div>
  <div class="row search-user">
    <select class="col-lg-3 form-control form-control-sm mb-2 mr-2" v-model="conditionsSearch.department" multiple="multiple">
      <option value="ALL">All Department</option>
      <option v-for="department in listDepartment" :value="department.id">{{ department.departmentName }}</option>
    </select>
    <select class="col-lg-3 form-control form-control-sm mb-2 mr-2" v-model="conditionsSearch.status" multiple="multiple">
      <option value="ALL">All Status</option>
      <option :value="UserStatus.PROVISOPNAL">PROVISOPNAL</option>
      <option :value="UserStatus.ACTIVE">ACTIVE</option>
      <option :value="UserStatus.BLOCK">BLOCK</option>
    </select>

  </div>

  <table class="table table-bordered mt-4">
    <thead class="thead-light">
    <tr>
      <th width="5%">#</th>
      <!--<td width="5%"></td>-->
      <th width="15%">User Name</th>
      <th width="15%">Email</th>
      <th width="15%">Department</th>
      <th width="15%">Temporary Password</th>
      <th width="150">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(user, index) in listUser" :key="index">
      <td><FaceIcon :avatar="user.avatar" :iconSize="40" /></td>
      <!--<td><FaceIcon :avatar="user.avatar" :iconSize="40" /></td>-->
      <td :class="{'has-danger': errors.has('userName' + index)}">
        <span v-show="errors.has('userName' + index)" class="text-danger fs14">{{ errors.first('userName' + index) }}</span>
        <input class="form-control form-control-sm" v-model="user.userName" v-validate="'required'" :name="'userName' + index">
      </td>
      <td :class="{'has-danger': errors.has('email' + index)}">
        <span v-show="errors.has('email' + index)" class="text-danger fs14">{{ errors.first('email' + index) }}</span>
        <input class="form-control form-control-sm" v-model="user.email" v-validate="'required|email'" :name="'email' + index">
      </td>
      <td :class="{'has-danger': errors.has('department' + index)}">
        <span v-show="errors.has('department' + index)" class="text-danger fs14">{{ errors.first('department' + index) }}</span>
        <select class="form-control form-control-sm" v-model="user.department" v-validate="'required'" :name="'department' + index">
          <option value="">Select Department</option>
          <option v-for="department in listDepartment" :value="department.id">{{ department.departmentName }}</option>
        </select>
      </td>
      <td>
       <span v-if="user.status == UserStatus.PROVISOPNAL">{{ user.temporaryPassword }}</span>
      </td>
      <td>
        <button class="btn btn-sm btn-danger mr-2" @click="deleteUser(user.id)">Delete</button>
        <button class="btn btn-sm btn-success mr-2" @click="saveUser(user)">Save</button>
        <button class="btn btn-sm btn-warning mr-2 btn-status-user" v-if="user.status === UserStatus.ACTIVE" @click="setUserStatus(user.id, UserStatus.BLOCK)">Block</button>
        <button class="btn btn-sm btn-warning mr-2 btn-status-user" v-if="user.status === UserStatus.BLOCK" @click="setUserStatus(user.id, UserStatus.ACTIVE)">UnBlock</button>
        <button class="mr-2 btn-status-user btn-status-user-visibility" v-if="user.status === UserStatus.PROVISOPNAL"></button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
