<div class="mt-3">
  <PageHeader :title="'Admin User'" />

  <div class="row search-user">
    <input class="col-lg-6 mb-2" type="text" v-model="conditionsSearch.name" :placeholder="$t('ADD_USER.SEARCH.NAME')" @keydown.enter="searchUser" />
    <div class="col-lg-4 mb-2">
      <button type="button" class="btn btn-primary float-left" @click="searchUser">{{ $t('BTN.SEARCH') }}</button>
    </div>
  </div>
  <div class="row search-user">
    <select class="col-lg-3 form-control form-control-sm mb-2 mr-2" v-model="conditionsSearch.department" multiple="multiple">
      <option value="ALL">All Department</option>
      <option v-for="department in listDepartment" :value="department.id">{{ department.departmentName }}</option>
    </select>
    <select class="col-lg-3 form-control form-control-sm mb-2 mr-2" v-model="conditionsSearch.status" multiple="multiple">
      <option value="ALL">All Status</option>
      <option :value="UserStatus.PROVISOPNAL">PROVISOPNAL</option>
      <option :value="UserStatus.ACTIVE">ACTIVE</option>
      <option :value="UserStatus.BLOCK">BLOCK</option>
    </select>

  </div>

  <table class="table table-bordered table-hover cursor-pointer mt-4">
    <thead class="thead-light">
    <tr>
      <th width="20%">User Name</th>
      <th width="15%">Email</th>
      <th width="15%">Department</th>
      <th width="15%">Temporary Password</th>
      <th width="150">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(user, index) in listUser" :key="index" @click="detailUser(user.id)">
      <td>
        <MiniProfile :userInfo="{lastName: user.userName, firstName: '', avatar: user.avatar}" :profileOptions="{iconSize: 55}" />
      </td>
      <td class="align-middle">{{user.email}}</td>
      <td class="align-middle">{{user.departmentName}}</td>
      <td class="align-middle">
       <span v-if="user.status == UserStatus.PROVISOPNAL">{{ user.temporaryPassword }}</span>
      </td>
      <td class="align-middle">
        <button class="btn btn-sm btn-danger mr-2" @click="deleteUser($event, user.id)">Delete</button>
        <!--<button class="btn btn-sm btn-success mr-2" @click="saveUser(user)">Save</button>-->
        <button class="btn btn-sm btn-warning mr-2 btn-status-user" v-if="user.status === UserStatus.ACTIVE" @click="setUserStatus($event, user.id, UserStatus.BLOCK)">Block</button>
        <button class="btn btn-sm btn-warning mr-2 btn-status-user" v-if="user.status === UserStatus.BLOCK" @click="setUserStatus($event, user.id, UserStatus.ACTIVE)">UnBlock</button>
        <button class="mr-2 btn-status-user btn-status-user-visibility" v-if="user.status === UserStatus.PROVISOPNAL"></button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
